<h1>カートアイテム一覧</h1>
<p>
    <% product = Product.find(params[:product_id]) %>
    <%= product.pname %>
    <%= product.price %>円
    <%= form_for @cartitem, url: {action: :create} do |f| %>
        <%= f.hidden_field :product_id, value: @pid.id %>
        <%= f.label '数量' %>
        <%= f.text_field :qty %>
        <%= f.submit '商品を登録する' %>
    <% end %>
</p>